/*cross-browser compatibility */
html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #e9e9e9;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.27em 0;
}

hr {
  display: block;
  border: 1px solid #e8e8e8;
  border-width: 1px 0 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  margin: 0.27em 0;
}

input[type=text], textarea {
  border-radius: 0;
  color: #ccc;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px 0;
}

.form-default {
  display: block;
}

.form-default:focus {
  border-color: #66afe9;
}

form label {
  margin: 5px 0;
}

.btn-default {
  color: #ffffff;
  border-radius: 5px;
  background-color: #adadad;
  border: 1px solid transparent;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #1a8bff;
  border-style: groove;
  border-radius: 5px;
  border-color: #0071e6;
  border: 1px solid transparent;
}

/*----grid system----*/
* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-offset-12 {
  margin-left: 100%;
}

.col-offset-11 {
  margin-left: 91.66666667%;
}

.col-offset-10 {
  margin-left: 83.33333333%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-8 {
  margin-left: 66.66666667%;
}

.col-offset-7 {
  margin-left: 58.33333333%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-5 {
  margin-left: 41.66666667%;
}

.col-offset-4 {
  margin-left: 33.33333333%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-2 {
  margin-left: 16.66666667%;
}

.col-offset-1 {
  margin-left: 8.33333333%;
}

.col-offset-0 {
  margin-left: 0%;
}

/*----responsive----*/
@media screen and (min-width: 768px) {}

/*----header----*/
/*Jason*/

/*----footer----*/
/*Jason*/

/*----home----*/
/*Bryce*/

/*----personal----*/
/*Anne*/

/*----login----*/
/*Jason*/