.card {
	border-radius: 15px;
	margin: 20px;
	margin-top: 40px;
	padding: 30px;
}

.bucket-list {
	background-color: white;
}

.bucket-items {
	text-align: center;
	margin-left: 110px;
	margin-right: 110px;
}

.bucket-item {
	margin-bottom:50px;
}

.item-info {
	padding: 20px;
	background-color: rgba(153, 153, 153, 1);
}

.user-info {
	background-color: white;
}