/*cross-browser compatibility */
html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  color: #677;
  background-color: #e9e9e9;
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.27em 0;
}

hr {
  display: block;
  border: 1px solid #e8e8e8;
  border-width: 1px 0 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  margin: 0.27em 0;
}

input[type="text"], input[type="password"], textarea {
  color: #ccc;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
}

.form-default {
  display: block;
}

.form-default:focus {
  border-color: #66afe9;
}

.btn-default {
  color: #ffffff;
  border-radius: 5px;
  background-color: #adadad;
  border: 1px solid transparent;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #1a8bff;
  border-style: groove;
  border-radius: 5px;
  border-color: #0071e6;
  border: 1px solid transparent;
}

/*----WAI----*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*----grid system----*/
* {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-offset-12 {
  margin-left: 100%;
}

.col-offset-11 {
  margin-left: 91.66666667%;
}

.col-offset-10 {
  margin-left: 83.33333333%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-8 {
  margin-left: 66.66666667%;
}

.col-offset-7 {
  margin-left: 58.33333333%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-5 {
  margin-left: 41.66666667%;
}

.col-offset-4 {
  margin-left: 33.33333333%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-2 {
  margin-left: 16.66666667%;
}

.col-offset-1 {
  margin-left: 8.33333333%;
}

.col-offset-0 {
  margin-left: 0%;
}

/*----responsive----*/

/*----header----*/
/*Jason*/

/*----footer----*/
/*Jason*/

/*----home----*/
/*Bryce*/

/*----personal----*/
/*Anne*/

/*----login----*/
/*Jason*/
@media screen and (max-width: 768px) {
  #panel-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
} 

body {
  max-width: 2000px;
  min-width: 300px;
  padding-top: 90px;
  background-color: rgba(89, 89, 89, 0.9);
}

.text-center {
  text-align: center;
}

.form-wrapper {
  margin-bottom: 15px;
  overflow: hidden;
}

.form-entry {
  height: 46px;
  padding: 10px 16px;
  border-radius: 6px;
}


.panel-login {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  background-color: #ffffff;
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #ccc;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

/*.panel-login input:valid {
  border: 1px solid green;
}

.panel-login input:invalid {
  box-shadow: : 0 0 5px 1px red;
  /*border: 1px solid red;*/
/*}*/
/*
.panel-login input:focus:invalid {
  outline: none;
}*/



.btn-login {
  width: 100%;
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #3486b2;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-signup {
  width: 100%;
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-signup:hover,
.btn-signup:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #168339;
}

#firstname {
  width: 48%;
  float: left;
}

#lastname {
  width: 48%;
  float: right;
}

#user-city {
  width: 48%;
  float: left;
}

#user-state {
  width: 48%;
  float: right;
}

#item-description {
  height: 80px;
}

